@import "font-face.css";
@import "beat.css";

a:link,
a:visited {
    text-decoration:none;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}	

body{
	color:#333;
	font-size:14px;
	background:#fff;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
	}
ul, ol, li, h1, h2, h3, h4, h5, h6{ list-style:none; margin:0; padding:0;}
i{ display:inline-block;}
	
a{
	color:#00599c;
	}
a:hover{
	color:#0f3876;
	}
.scroll-fix-top{
    width: 100%;
}

.scroll-fix-top.fixed {
    opacity: 0.95;
}

.circle, .anchor, .anchor .fa{
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	}
.radius{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
.shadow{
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	}

.anchor .fa{
	color:#60da9d;
	line-height:40px;
	text-align:center;
	}
	
.fa-2 {
    font-size: 1.5em;
}
.fa-3 {
    font-size: 4em;
}
.fa-4 {
    font-size: 7em;
}
ul.reset, ol.reset{
	margin:0;
	padding:0;
	}
.btn.btn-submit{
	background:#cb0303;
	border:none;
	color:#fff;
	text-transform:uppercase;
	font-size:120%;
	padding:15px 30px;
	}
.section{
	padding-top:20px;
	padding-bottom:20px;
	}
.navbar-toggle{
	position:absolute;
	right:15px;
	top:15px;
	width:40px;
	height:40px;
	padding:0;
	margin:0;
	background:#0061af;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	z-index:999999;
	}
.navbar-toggle .fa{
	text-align:center;
	line-height:40px;
	}
.btn{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
.navbar-toggle .fa{
	font-size:150%;
	}
.red{color:#eb1c24;	}
.yellow{ color:#ffd800;}
#container img{
	max-width:100%;
	}
strong, b{
	font-family: 'RobotoCondensed-Bold';
	}
.icon_main{ background:url(../images/icon.png) no-repeat;}
/*header=================================*/
#header{
	min-height:100px;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	margin-bottom:0;
	border:none;
	background:#d4e9f4;
	}
.logo{ background:#d4e9f4;}
.logo h2{ width:126px; float:left; margin:15px 0;}
.logo h2 img{width:126px;}

/*****search*****/
.search{
	height:34px;
	border-radius:30px;
	background:#add1e4;
	position:relative;
	padding:0 150px 0 40px;
	border:1px solid #a0c1d2;
	margin-top:10px;
	}
	

.search input, .search button{border:none;}
.search input{float:left; padding-left:7px;	outline:none;}
.btn_search{height:14px; width:14px; position:absolute;
top:10px;
left:15px;
 background-position:0 -24px;	}
.text_search{ background:transparent; height:34px; line-height:34px; width:100%;}
input.text_search:placeholder-shown { color:#7c7c7c; font-family: 'Roboto-Light';}
.search .dropdown-menu{ right:0 !important; z-index:999999999999;}
.filter_search{  border-left:1px solid #a0c1d2; width:135px; height:18px; position:absolute; top:7px;
right:10px; }
.filter_search .btn-default{background:none !important; line-height:18px; padding:0; text-align:left; text-indent:15px; width:100%;}
.filter_search .btn-default .caret{ color:#0a72bb; position:absolute; right:0; top:0;  margin: 7px 0 0 0;}
.filter_search .btn-default:active, .btn-group.open .dropdown-toggle{ box-shadow:none !important;}


/*****end_search*****/
.logo h1{ width:72px; height:44px; float:right; margin-top:8px;} 
#header .inner{	}

.hd_bottom{
	background: rgba(0,107,184,1);
	background: -moz-linear-gradient(left, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,107,184,1)), color-stop(77%, rgba(155,33,145,1)), color-stop(100%, rgba(155,33,145,1)));
	background: -webkit-linear-gradient(left, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	background: -o-linear-gradient(left, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	background: linear-gradient(to right, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006bb8', endColorstr='#9b2191', GradientType=1 );
	height:52px;
	font-family: 'Roboto-Light';
}
.hd_bottom .navbar-collapse{ padding:0; z-index:99;}
.hd_bottom .navbar-nav{margin-top:7px;}
.hd_bottom .navbar-nav h2{ margin:0;}   

.navbar-collapse.collapse{position:relative;}
.navbar-collapse.collapse .nav>li{
	position:static;
	}
.nav li a{ border-left:1px solid #4792c8; margin-top:10px; position:relative;}	
.nav li:first-child a{ border:none;}
.nav li:first-child a i{ background-position:0 0; width:17px; height:15px; display:inline-block;}
.navbar-nav>li>a:hover .equalizer, .navbar-nav>li>a.curent .equalizer{ opacity:1;}
.navbar-nav li a{
	text-transform:uppercase;
	color:#fff;
	border-bottom:3px solid transparent;
	font-size:15px;
	padding:0 20px;
	line-height:18px;
	}
.navbar-nav li a:hover, .navbar-nav li.active a{background:none;}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{ background:transparent !important; border:none;}
#header .navbar-nav i{	
    font-size: 6px;
    color: #fff;
    bottom: 2px;
    position: relative;
}
.navbar-nav li .dropdown-menu{
	position:absolute;
	width:550px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	text-transform:uppercase;
	background-color:#fff;
	border:none;
	z-index:101;
	margin-top:14px;
	border-top:2px solid #ffbc00;
	display:none;
	}
.dropdown-menu i{ font-size:30px !important; color:#ffbc00 !important; position:relative; top:-15px; left:85px;}
.dropdown-menu ul{ margin-left:20px;}
.navbar-nav li .dropdown-menu li{
	margin:0 0 0 40px;
	list-style:circle;
	font-family: 'Roboto-Light';
	float:left;
	margin:0 0 15px 25px;
	width:100px;
	}
.navbar-nav li .dropdown-menu li a{color:#282828; border:none;	padding:5px 0;	font-size:14px; text-transform:none;}
.navbar-nav li .dropdown-menu li a:hover{
	background:none;
	color:#ea0f0d;
	}
.navbar-nav li:hover .dropdown-menu{
	display:inline-block;
	}
	
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin-left:0;
	}
.navbar-brand{
	height:auto;
	padding:10px 15px;
	}
.navbar-brand img{
	max-width:125px;
	}

.btn_login{ margin-top:10px; text-align:right;}
.btn_login a{ border-radius:3px; border:1px solid #b3f1d9; background:#2dc187; color:#fff; padding:8px 15px 8px 12px; margin-right:10px;}
.btn_login a:last-child, .btn_signined a{ background:#f11a89; border:1px solid #f4b0d3; margin-right:0;}
.btn_login a:first-child i{ background-position:0 -50px; top:5px; position:relative; width:17px; height:18px; display:inline-block; margin-right:8px}
.btn_login a:last-child i{ background-position:0 -80px; top:5px; position:relative; width:20px; height:20px; display:inline-block; margin-right:8px}
.btn_signined{ position:relative;}
.btn_signined a{ background:#;}
.btn_signined .dropdown-menu{ right:0; left: inherit; top: 128%;}
.btn_signined .dropdown-menu li a{ background:none; border:none;}
.btn_signined .dropdown-menu li a:hover{background:#fadfed; border-radius:0;}

/***end_header****/

/***body****/

/***Marquee****/
.top_mdl{ width:100%; overflow:hidden;}
.top_mdl h3{ font-size:15px; color:#006cb8; font-family: 'Roboto-Bold'; background-position: 0 -106px; text-indent: 32px; height: 36px; line-height: 36px; margin:8px 0 0 0; width:25%; float:left;}
.TickerNews{width: 74%; height: 50px; line-height: 48px; float:left; margin-top:2px;}
.ti_wrapper{width: 100%;position: relative;	overflow: hidden;}
.ti_slide{	width: 30000px;	position: relative;	left: 0;top: 0;}
.ti_content{width: 8000px;	position: relative;	float:left;}
.ti_news{	float:left; margin-right: 20px;	position:relative;}
.ti_news i{ width:5px; height:5px; background:#006cb8; position:relative; top:-50px; left:-15px; border-radius:50%; display:inline-block;}
.ti_news a{	display: block;	margin-right: 10px;	color:#4a4a4a; font-size:15px;text-decoration: none; font-family: 'Roboto-Regular'; background:url(../images/notes_music.png) no-repeat 0px 17px; text-indent:20px;}
.ti_news a:hover{ color:#006cb8; background-position:0 -23px;}

#stop-resume{
	display: block;
	padding: 10px;
	background-color: #f1f1f1;
	margin:10px;
	width: 70px;
	text-align: center;
	border:solid 1px white;
	text-transform: uppercase;
	font-family: sans-serif;
	text-decoration: none;
}
#stop-resume:active{
	background-color:white;
	border:solid 1px #f1f1f1;
	color:blue;
}

/***end_Marquee****/
#body{ width:100%; margin-top:5px;}


/***slider_home***/
.slider_home{ overflow:hidden; max-width:840px; margin:auto; height:auto;}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slider {
  background: #3a8999;
  width: 100%;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}
.slider .slick-slide:focus {
  outline: 0;
}

.slider.thumbs {
  background: #e84a69;
  padding: 0;
}
.slider.thumbs .slick-current {
  position: relative;
}
.slider.thumbs .slick-current img{ border:5px solid #006cb8;}
.slider.thumbs .slick-current:after {
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #006cb8;
  border-width: 10px;
  z-index:999;
}

.slick-list{ overflow:inherit;}
.slick-prev{ left:25px; z-index: 9;}
.slick-next{ right:25px;}
.slider.thumbs{ padding:15px 15px 15px 30px; background:#d4e9f2;}
.thumbs .slide{ margin-right:2.5% !important;}
.slick-track>div.slide:last-child{ margin-right:0;}
.thumbs .slide img{ border:5px solid #ffffff; width:auto;}


/***end_slider_home***/

.left_ad{ width:100%; margin:40px 0; text-align:center;}
.left_ad img{ max-width:100%; height:auto;}

.title_la{ width:100%; border-bottom:1px solid #f1f1f1; overflow:hidden;}
.title_la h3{ line-height:50px; font-size:30px; color:#1d5eb1; border-bottom:2px solid #1d5eb1; font-family: 'UTM_Bebas'; font-weight:300; display:inline-block; float:left; margin:0 0 0 0; position:relative; z-index:9;}
.btn_viewmore{ border:1px solid #1d5eb1; color: #1d5eb1; font-size:13px; font-family: 'Roboto-Light';  font-family: 'Roboto-Regular'; float:right; padding:5px 10px; border-radius:3px; margin-top:15px;}
.btn_viewmore i{ margin-left:5px;}
.btn_viewmore:hover{ background:#1d5eb1; color:#fff;}

.list_item li{ margin-bottom:30px; position:relative; overflow:inherit;}
.list_item li img{
	width:100%; height:auto;
	}
.list_item li:nth-child(4n+4){ margin-right:0;}
.list_item li h4 a{ font-size:15px; color:#4a4a4a; text-overflow: ellipsis; overflow:hidden; width:100%; display:inline-block; margin:15px 0 0 0; white-space: nowrap;}
.list_item li p a{ font-size:14px; color:#888; width:auto; margin-right:10px;}
.list_item li a:hover{ color:#1d5eb1;}
.list_hot_album, .hot_video{ margin-top:0px;}

.static { position:absolute; right:0; bottom:0; font-size:11px; color:#fff;}
.static div{ float:left; margin-right:1px; background:rgba(45, 193, 138, 0.7); padding:2px 3px;}
.static div:last-child{ background:rgba(0, 108, 184, 0.7); margin-right:0px;}
.static div i{ margin-right:5px;}
.list_video > li a {
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  width:100%;
}
.list_video > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.list_video > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.list_video > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.list_video > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.list_video > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width:40px;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.list_video > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.list_video .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.list_video .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.list_video .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.list_video .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.list_video .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.list_video .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.list_video .video .demo-gallery-poster img {
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  opacity: 0.8;
  width: 40px;
}
.list_hot_song li{ overflow:hidden; border-bottom:1px dotted #c7c7c7; transition: .5s;  -webkit-transition: .5s; position:relative; padding:10px 0;}
.list_hot_song li:hover{ background:#f8f8f8; cursor:pointer;}
.list_hot_song li img{ width:58px; float:left; margin-right:15px;}
.des_song{ width:210px; float:left;}
.list_hot_song li h4 a{ font-size:15px; color:#006cb8; font-family: 'Roboto-Bold'; margin-top:10px; text-overflow: ellipsis; overflow:hidden; white-space: nowrap; width:100%; display:inline-block;}
.list_hot_song li p a{ color:#4a4a4a; font-size:14px;}
.list_hot_song li .icon_view{  position:absolute; top:40px; right:10px; transition: .5s;  -webkit-transition: .5s;}
.list_hot_song li:hover .icon_view{ right:-60px;}
.icon_view i{ background-position:0 -160px; width:13px; height:13px; display:inline-block; margin-right:5px;}
.list_hot_song li .icon_sv{ position:absolute; top:40px; right:-100px; transition: .5s;  -webkit-transition: .5s; width:85px; overflow:hidden;}
.icon_sv a i{margin-right:5px;}
.list_hot_song li .icon_sv a.i_dl i, .play_list .tabs_item li .icon_sv a.i_dl i, .board_song li a.i_dl i, .playlist_dta ul li a.i_dl i{ display:inline-block; background-position:0 -656px; width:22px; height:18px; margin-right:5px;}
.list_hot_song li .icon_sv a.i_rb i, .play_list .tabs_item li .icon_sv a.i_rb i, .board_song li a.i_rb i, .playlist_dta ul li a.i_rb i{ background-position:0 -680px; width:21px; height:20px;}
.list_hot_song li .icon_sv a.i_gift i, .play_list .tabs_item li .icon_sv a.i_gift i, .board_song li .icon_sv a.i_gift i, .playlist_dta ul li .icon_sv a.i_gift i{ background-position:0 -704px; width:18px; height:18px;}
.list_hot_song li:hover .icon_sv{right:10px; top:40px;}
.new_song{ float:right;}
.list_hot_song li .icon_sv a.i_dl:hover>i, .play_list .tabs_item li .icon_sv a.i_dl:hover>i, .board_song li .icon_sv a.i_dl:hover>i, .playlist_dta li .icon_sv a.i_dl:hover>i{background-position:0 -184px;}
.list_hot_song li .icon_sv a.i_rb:hover>i, .play_list .tabs_item li .icon_sv a.i_rb:hover>i, .board_song li .icon_sv a.i_rb:hover>i, .playlist_dta li .icon_sv a.i_rb:hover>i{background-position:0 -208px;}
.list_hot_song li .icon_sv a.i_gift:hover>i, .play_list .tabs_item li .icon_sv a.i_gift:hover>i, .board_song li .icon_sv a.i_gift:hover>i, .playlist_dta li .icon_sv a.i_gift:hover>i{background-position:0 -232px;}

/*.col_right{ width:300px; float:right;}.col_left{ width:840px; float:left;}*/
.col_right .list_album{ margin-bottom:30px;}
.promo_song{ margin-top:20px;}
.promo_song .title_la h3{position:relative; color:#f11a89; border-color:#f11a89;}
.promo_song .title_la h3 i{ position:absolute; right:-32px; top:8px; width:28px; height:27px; background-position:0 -256px}
.promo_song .title_la .btn_viewmore { border: 1px solid #f11a89; color: #f11a89;}
.promo_song .title_la .btn_viewmore:hover{ background:#f11a89; color:#fff;}
.list_promo_song li{ padding:10px 0 10px 0;}
.list_promo_song li img{ width:90px;}
.list_promo_song li:hover{ background:none;}
.list_promo_song li .des_song{ left:105px; right:0; position:absolute; height:90px; width:auto;}
.list_promo_song li .icon_view{ bottom:0; top:inherit; left:0;}
.list_promo_song li .icon_view span, .playlist_dta ul li .icon_view span{ display:inline-block; margin-right:10px;}
.list_promo_song li .icon_view span:nth-child(2) i, .playlist_dta ul li .icon_view span:last-child i{ background-position:0 -288px; width:16px; height:16px;}
.price{ position:absolute; bottom:0; right:0; text-align:right; color:#f11a89;}
.list_promo_song li:hover .icon_view{ bottom:-60px;}
.list_promo_song li .icon_sv{bottom:-60px; left:0; top:inherit;}
.list_promo_song li:hover .icon_sv{ bottom:0; top:inherit; left:0;}

.BXH_song li .flg{position:absolute; top:5px; left:10px; color:#fff; background-position:-21px -355px; width:21px; height:35px; display:inline-block; text-align:center; font-size:17px; font-family: 'Roboto-Bold';}
.BXH_song li:nth-child(2) .flg{background-position:-21px -320px;}
.BXH_song li:nth-child(3) .flg{background-position:0px -355px;}

.BXH_song li:first-child .des_song{ position:absolute; bottom:10px; top:auto; left:0; width:100%; background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 14%, rgba(0,0,0,0.15) 39%, rgba(0,0,0,0.5) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(14%, rgba(0,0,0,0)), color-stop(39%, rgba(0,0,0,0.15)), color-stop(100%, rgba(0,0,0,0.5)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 14%, rgba(0,0,0,0.15) 39%, rgba(0,0,0,0.5) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 14%, rgba(0,0,0,0.15) 39%, rgba(0,0,0,0.5) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 14%, rgba(0,0,0,0.15) 39%, rgba(0,0,0,0.5) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 14%, rgba(0,0,0,0.15) 39%, rgba(0,0,0,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );}
.BXH_song li:first-child  h4{ margin-top:25px;}
.BXH_song li:first-child .des_song h4 , .BXH_song li:first-child .des_song p{margin-left:15px;}
.BXH_song li:first-child .des_song h4 a, .BXH_song li:first-child .des_song p a{color:#fff;}
.BXH_song li:first-child img{ width:100% !important; height:auto;}
.BXH_song li:first-child .icon_view{ display:none;}
.BXH_song li:first-child .price{ right:10px; bottom:15px; color:#fff; transition: .5s;  -webkit-transition: .5s;}
.BXH_song li:first-child .icon_sv{bottom:-60px; right:5px; left:auto !important;}
.BXH_song li:first-child:hover .price{bottom:-60px; right:10px;}
.BXH_song li:first-child:hover .icon_sv{ bottom:12px; right:5px !important; left:auto !important;}
.BXH_song li:first-child .flg{ position:absolute; bottom:30px; left:10px; color:#fff; background-position:0 -320px; width:21px; height:35px; display:inline-block; text-align:center; font-size:17px; font-family: 'Roboto-Bold';}
.BXH_song li:first-child .icon_sv a:nth-child(1) i{ background-position:-25px -184px; width:21px; height:20px;}
.BXH_song li:first-child .icon_sv a:nth-child(2) i{ background-position:-25px -208px; width:21px; height:20px;}
.BXH_song li:first-child .icon_sv a:nth-child(3) i{ background-position:-25px -232px; width:18px; height:18px;}

.BXH_video li img{ width:144px;}
.BXH_video li .des_song{ left:160px }
.BXH_video li:hover .icon_view{bottom:0; top:inherit; left:0;} 
.BXH_video li:first-child .icon_view i{ background-position:-16px -159px; width:13px; height:14px;}
.BXH_video li:first-child .icon_view, .BXH_video li:first-child:hover .icon_view{ display:inherit; right:5px; left:auto; bottom:10px; color:#fff;}
.BXH .tabs { margin-bottom:10px;}
/***tab_right***/
.tab {
  margin: 15px 0; 
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #888;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  border:1px solid #f1f1f1;
  border-radius:5px;
}
.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width:33.3%;
  border-right:1px solid #f1f1f1;
}
.tabs li:last-child{ border:none;}
.tabs a {
  background-color: #fff;
  color: #4a4a4a;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  text-align:center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs_item {
  display: none;
}
.tabs_item h4 {
  font-weight: bold;
  color: #87d3b7;
  font-size: 20px;
}
.tabs_item img {
  width: 200px;
  float: left;
  margin-right: 30px;
}
.tabs_item:first-child {
  display: block;
}

.current a {
  color: #fff;
  background: #1d5eb1;
}


/***end_tab_right***/

/***carousel***/
.carousel-indicators{
	bottom: -23px;}
.carousel-indicators li{
	background:#fff;
	width:16px;
	height:16px;
	margin:0 5px;
	border:5px solid #fff;
	}
.carousel-indicators .active{
	background:#eb1c24;
	border:5px solid #eb1c24;
	width:16px;
	margin:0 5px;
	height:16px;
	}
.carousel-control .fa{
	position:absolute;
	top:50%;
	font-size:200%;
	margin-top:-10px;
	}
.carousel-control.left .fa{
	left:30px;
	}
.carousel-control.right .fa{
	right:30px;
	}
/***end_carousel***/



/*owl-carousel*/
.owl-carousel{}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow:hidden;
  padding-top:5px;
  padding-bottom:5px;
  -moz-transform: translate3d(0px,0,0);
  -webkit-transform: translate3d(0px,0,0);
  transform: translate3d(0px,0,0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .item{
	text-align:center;
	padding:0 15px;
	
	}
.owl-carousel .item img{
	width:100%;
}
.owl-carousel .item a:hover img, .owl-carousel .item a.active img{border:5px solid #1ab5fb;}
.owl-theme .owl-controls {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.owl-prev, .owl-next{
	top:50%;
	margin-top:-25px;
	width:50px;
	height:50px;
	position:absolute;
	text-indent:-1000em;
	background-color:rgba(255, 255, 255, 0.5);
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	background-repeat:no-repeat;
	background-position:50% 50%;
	}
.owl-prev{
	left:0px;
	background-image:url(../img/arrow-l.png);
	}
.owl-next{
	right:0px;
	background-image:url(../img/arrow-r.png);
	}
.owl-prev:hover{
	background-image:url(../img/arrow-l-red.png);
	}
.owl-next:hover{
	background-image:url(../img/arrow-r-red.png);
	}


/**/
footer{background:#005794; border-top:3px double #fff; padding-top:1px; margin-top:40px;}
footer .row{ background:#; margin:0;}
.top_footer{ border-bottom:1px solid #4d8ab4; padding-top:50px; overflow:hidden; padding-bottom:50px;}
.col_1:first-child{ padding-left:20px;}
.col_1{ border-right:1px dotted #fff; padding-left:50px;}
.col_1 h3{ font-family: 'Roboto-Bold'; font-size:20px; color:#fff;}
.col_1 ul{ margin-top:20px;}
.col_1 ul li a{ color:#fff; background:url(../images/notes_music.png) no-repeat 0 -80px; font-size:15px; line-height:30px; padding-left:18px;}
.col_fn{ border:none;}
.pattern{ background-position:0 -408px; width:22px; height:22px; margin:-11px auto 0 auto;}
.cpr{ text-align:center; padding:30px 0; color:#fff; font-size:13px;}

/**/

.btn-toggle{
	padding:10px;
	display:none;
	width:100%;
	
	background:#404040;
	border-left:3px solid #eb1c24;
	color:#fff;
	}
#menuleft.widget .btn-toggle{
	text-transform:uppercase;
	}
#menuleft.widget .btn-toggle .fa{
	float:right;
	}
.btn-toggle .fa{
	margin-right:10px;
	}
.btn-toggle:hover{
	color:#fff;
	background:#eb1c24;
	border-left:3px solid #404040;
	}


.pagination-footer{
	text-align:center;
	margin-top:30px;	
	}
.pagination-footer ul{
	text-align:center;
	margin:0;
	padding:0;
	border:1px solid #ddd;
	display:inline-block;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
	}
.pagination-footer li{
	list-style:none;
	display:inline-block;
	float:left;
	}
.pagination-footer li a{
	color:#444;
	display:inline-block;
	padding:10px 15px;
	font-family: 'RobotoCondensed-Bold';
	border-right:1px solid #ddd;
	}
.pagination-footer li:last-child a{
	border:none;
	-moz-border-radius:0 30px 30px 0;
	-webkit-border-radius:0 30px 30px 0;
	border-radius:0 30px 30px 0;
	}
.pagination-footer li:first-child a{
	-moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius:30px 0 0 30px;
	border-radius:30px 0 0 30px;
	}
.pagination-footer li.active a{
	background:#e24939;
	color:#fff;}
/**/



/**/
#contact{
	padding-top:50px;
	padding-bottom:50px;
	}	
.contactform div{
	margin-bottom:15px;
	}
.contactform input, .contactform textarea, .contactform .btn{
	width:100%;
	}
.contactform input, .contactform textarea{
	border:1px solid #ddd;
	padding:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
/**/



/***backtotop***/
.cd-top {
color:#fff;
text-align:center;
    font-size: 22px;
    line-height: 43px;
  display: inline-block;
  height: 25px;
  width: 25px;
  position: fixed;
  border-radius:50%;
  bottom: 40px;
  right: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  white-space: nowrap;
  background: rgba(0,107,184,1);
	background: -moz-linear-gradient(left, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,107,184,1)), color-stop(77%, rgba(155,33,145,1)), color-stop(100%, rgba(155,33,145,1)));
	background: -webkit-linear-gradient(left, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	background: -o-linear-gradient(left, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	background: linear-gradient(to right, rgba(0,107,184,1) 0%, rgba(155,33,145,1) 77%, rgba(155,33,145,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006bb8', endColorstr='#9b2191', GradientType=1 );
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
a.cd-top:hover { 
	background: #f65d96 !important;
  color:#fff !important;}
.no-touch a.cd-top:hover {
  background: #f65d96 !important;
  color:#fff !important;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 45px;
    width: 45px;
    right: 15px;
    bottom: 30px;
  }
}

/* search_2 */
#search_2 input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
#search_2 input::-webkit-search-decoration,
#search_2 input::-webkit-search-cancel-button {
	display: none; 
}


#search_2 input[type=search] {
	background:url(../img/icon-search.png) no-repeat center;
	width: 50px;
	border:none;
	float:right;
	margin-right:20px;
	position:relative;
	z-index:9999;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#search_2 input[type=search]:focus {
	width: 130px;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


#search_2 input:-moz-placeholder {
	color: #999;
}
#search_2 input::-webkit-input-placeholder {
	color: #999;
}


#search_2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search_2 input[type=search]:hover {
	background-color: #fff;
}
#search_2 input[type=search]:focus {
	width: 220px;
	padding-right: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search_2 input:-moz-placeholder {
	color: transparent;
}
#search_2 input::-webkit-input-placeholder {
	color: transparent;
}

/***detail_song***/

.detail_song h3{ font-size:22px; font-family: 'Roboto-Bold'; font-weight:300; margin-top:20px;}
.detail_song h3 span{ font-family: 'Roboto-Light';}
.label_love{ background:#f11a89;}
.label_love i{ margin-right:5px;}
.btn_social{ margin-top:10px; width:100%; overflow:hidden;}
.like_page{ width:50%; float:left;}
.like_onpage{float:left; width:110px;}
.love_static{position:relative; margin-left:5px; border:1px solid #f1f1f1; padding:2px 5px; font-size:10px; color:#4a4a4a; border-radius:2px;}
.love_static i{ position:absolute; width:8px; height:8px; top:5px; left:-6px; background-position:0 -496px;}
.icon_social{ width:150px; overflow:hidden; float:right;}

.comment_fb .title_la h3{ color:#4a4a4a; border-color:#4a4a4a;}
.onoffswitch {
    position: relative; width: 76px; float:right; margin-top:15px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #fff; border-radius: 28px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Bật";
    padding-left: 18px;
    background-color: #46B96C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Tắt";
    padding-right: 18px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; height:20px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 45px;
    border: 2px solid #fff; border-radius: 28px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.info_toogle{ width:70px; float:left; margin:20px 0 0 30px; font-size:13px;}
.info_toogle i{ margin-right:5px;}

.player{ width:100%; margin-top:30px; position:relative; height:163px;}
.bg_song{ width:100%; position:relative;}
.bg_song img{ width:100%; height:auto; max-height:163px;}
.overlay_song{
	opacity:0.8;
	width:100%; 
	height:163px;
	position:absolute; 
	top:0; 
	left:0;
	background: rgba(0,68,116,1);
	background: -moz-linear-gradient(left, rgba(0,68,116,1) 0%, rgba(89,12,83,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,68,116,1)), color-stop(100%, rgba(89,12,83,1)));
	background: -webkit-linear-gradient(left, rgba(0,68,116,1) 0%, rgba(89,12,83,1) 100%);
	background: -o-linear-gradient(left, rgba(0,68,116,1) 0%, rgba(89,12,83,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,68,116,1) 0%, rgba(89,12,83,1) 100%);
	background: linear-gradient(to right, rgba(0,68,116,1) 0%, rgba(89,12,83,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004474', endColorstr='#590c53', GradientType=1 );
	}

.content_player{ position:absolute; bottom:0; left:0; width:100%; border-top:2px solid rgba(90, 145, 177, 0.4);}
.ava_song{ position:absolute; top:0; left:0; padding:20px; width:100%;}
.ava_song img{ width:70px; height:70px; float:left; margin-right:25px;}
.ava_song h4{ color:#fff; font-size:18px; margin-top:10px; font-family: 'Roboto-Bold';}
.ava_song h4 span{ font-family: 'Roboto-Light';}

.play_list{ margin-top:50px;}
.play_list .tabs{ width:360px; border:none; border-radius: 0;}
.play_list .tabs li{ width:auto; margin-right:3px;}

.info_detail_song{ width:100%; overflow:hidden; margin:15px 0 10px 0;}
.info_detail_song p{ color:#4a4a4a; font-size:15px; padding-right:50px; position:relative; float:left;}
.info_detail_song p i{ border-radius:50%; display:inline-block; width:6px; height:6px; top:8px; position:absolute; background:#444; right:18px;}
.info_detail_song p:last-child{ margin-right:0;}
.info_detail_song p:last-child b{ color:#006cb8;}

.btn_static{ width:100%; overflow:hidden;}
.btn_detail_song { width:49%; float:left;}
.btn_detail_song a{background:#f7f7f7; border:1px solid #dcdcdc; margin-right:10px; display:inline-block; border-radius:3px; font-size:14px; color:#4a4a4a; padding:8px 15px; }
.btn_detail_song a i{ margin:3px 8px 0 0; float:left;}
.btn_detail_song a:first-child{ border-top:2px solid #3b5998;}
.btn_detail_song a:first-child i{ color:#3b5998;}
.btn_detail_song a:last-child{ border-top:2px solid #69b16a;}
.btn_detail_song a:last-child i{ background-position:0 -440px; width:18px; height:13px; }

.static_detail_song{ width:49%; float:right; overflow:hidden; margin-top:10px;}
.static_detail_song span{ display:inline-block; float:right; margin-left:35px; font-size:22px; font-family: 'Roboto-Light'; color:#4a4a4a;}
.static_detail_song span i{ width:22px; height:22px; margin-right:10px;}
.static_detail_song span:first-child i{ background-position:0 -464px;}
.static_detail_song span:last-child i{ background-position:-22px -464px;}

.play_list .tabs li a{
	padding:0 15px;
	font-size:16px;
  line-height: 45px;
  height:45px;
  font-family: 'Roboto-Bold';
  text-transform:uppercase;
  color:#b2b2b2;
  background-color: #f7f7f7;
}
.tabs li:last-child{ border:none;}

.play_list li.current a {
  color: #4a4a4a;
  border-top:2px solid #006cb8;
  background: #e7f3f8;
  padding:0 15px;
}

.play_list .tab_content{ background:#e7f3f8;}
.play_list .tabs_item li{ width:100%; overflow:hidden; line-height:52px; height:52px; padding:0 15px; position:relative;}
.play_list .tabs_item li:nth-child(2n+2){ background:#f4fafd;}
.play_list .tabs_item li a{ font-size:16px; font-family: 'Roboto-Bold';}
.play_list .tabs_item li a i{ font-size:20px; margin-right:10px;}
.name_song{ width:45%; float:left;}
.code{ width:12%; float:left;}
.play_list .tabs_item li .price{ width:12%; float:left; position:inherit;}
.play_list .tabs_item .icon_view{ position:absolute; right:15px; top:0px; transition: .5s;  -webkit-transition: .5s;}
.play_list .tabs_item .icon_view span{ margin-left:15px;}
.play_list .tabs_item .icon_view span:nth-child(2) i{  background-position:0 -288px; width:16px; height:16px;}
.play_list .tabs_item li:hover{ background:#fff; cursor:pointer; transition: .5s;  -webkit-transition: .5s;}
.play_list .tabs_item li .icon_sv{ right:-100px; top:0; position:absolute; transition: .5s;  -webkit-transition: .5s;}
.play_list .tabs_item li:hover>.icon_sv{ right:15px; top:0px; position:absolute;}
.play_list .tabs_item li:hover .icon_view{ right:-100px;}

.lyric{ padding:40px; font-size:14px; font-family: 'Roboto-Light'; line-height:22px; color:#4a4a4a;}
.btn_bigmore{ width:100%; text-align:center; line-height:38px; font-size:15px; background:#1d5eb1; text-transform:uppercase; display:inline-block; margin-top:20px; color:#fff; border:1px solid #fff; border-radius:5px; transition: .5s;  -webkit-transition: .5s; cursor:pointer; }
.btn_bigmore i{ margin-left:8px;}
.btn_bigmore:hover{border:1px solid #1d5eb1; background:#fff; color:#1d5eb1; text-decoration:none;}


/* Buttons */
.social-btns {
    text-align: center;
}

.social-btns li {
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: top;
}

/* Dissolve Button */
.social-btn-dissolve {
    width: 28px;
    height: 28px;
    text-align: center;
    color: #fff;
    line-height: 28px;
    border-radius: 50%;
    display: block;
    position: relative;
}

.social-btn-dissolve:hover {
    color: #fff;
}

.social-btn-dissolve:hover:before {
    opacity: 0;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.social-btn-dissolve:before {
    background: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
}

.social-btn-dissolve.twitter {
    background: #4cc4f2;
}

.social-btn-dissolve.facebook {
    background: #3b5998;
}

.social-btn-dissolve.google {
    background: #dd4b39;
}


.social-btn-dissolve.instagram {
    background: #9b2191;
}

/***Catergories***/

.cat_page{ margin:0px 0 0px 0;}
.cat_page .list_item{ margin-bottom:50px;}
.r_title{ width:40%; float:right; overflow:hidden; margin-top:12px;}
.tab_cat{ float:right;}
.tab_cat li{ display:inline-block; font-size:15px; font-family: 'Roboto-Light'; margin-right:15px;}
.tab_cat li a{ display:block; color:#4a4a4a;  line-height:36px; transition: .2s;  -webkit-transition: .2s;}
.tab_cat li a:hover, .tab_cat li a.curent{border-bottom:4px solid #f11a89;}
.type_list{ width:44px; float:right; margin: 8px 0 0 25px;}
.type_list a{ font-size:16px; display:inline-block; color:#4a4a4a; margin-left:5px;}
.type_list a:hover, .type_list a.curent{ color:#006cb8;}
.type_list a:last-child{ font-size:15px;}
.cat_page .list_item li span{ width:30px; height:34px; position:absolute; top:-8px; right:20px;}
.cat_page .list_item li span.new{ background-position:0 -512px;}
.cat_page .list_item li span.hot{ background-position:0 -546px;}
.pagi { margin:50px 0; text-align:center;}
.pagi a{ display:inline-block; border:1px solid #f1f1f1; color:#4a4a4a; background:#fff; padding:5px 8px; border-radius:3px; margin-right:5px;}
.pagi a:hover, .pagi a.curent{border:1px solid #006cb8; background:#006cb8; color:#fff;}

#LayoutControl, #FilterControl a {}
#LayoutControl { float:right; margin-top:2px;}
#LayoutControl label {
  margin:0;
  padding: 0.2rem 0.4rem 0.1rem 0.4rem;
  line-height:.875rem;
  height:22px;
  max-width:40px;
}
#LayoutControl fa { font-size:1.1rem;}
#LayoutControl input[type="radio"]:checked + label { color:#006cb8;}
#LayoutControl input[type="radio"]{
  display:none;
  visibility:hidden;
  height: 0;
  width: 0;
}
#LayoutHolder .large-block-grid-4>li:nth-of-type(4n+1), #LayoutHolder .large-block-grid-4>li:nth-of-type(1n){
  clear:none;
}
.full_row{ padding:0 15px;}
.full_row li{ width:100%; border-bottom:1px solid #f1f1f1; padding: 0 0px 25px 0px ;}
.full_row li a{ max-width:120px; float:left; margin-right:20px;}
.full_row li h4{ margin-top:10px;}
.full_row li h4 a, .full_row li p a{ width:auto; float:none; margin:0; transition:none; text-overflow:inherit; overflow:inherit;}
.full_row li .new, .full_row li .hot{ left:80px; right:inherit;}

/***arrtist***/

.artist .r_title{ width:80%;}
.filter_AB{ margin:30px 0; text-align:center;}
.filter_AB a{ text-transform:uppercase; color:#4a4a4a; font-family: 'Roboto-Light'; font-size:16px; display:inline-block; margin-right:2px; width:25px; height:25px; text-align:center; line-height:25px;}
.filter_AB a:hover, .filter_AB a.curent{ background:#f11a89; color:#fff; border-radius:50%;}
.filter_AB a:first-child{ font-family: 'Roboto-Bold'; color:#f11a89; margin-right:10px;}
.filter_AB a:first-child:hover{ background:none; }

/***video****/
.video_cat{}
.video_player{ height:472px;}
.video_player video{ max-width:840px; width:100%; height:auto;}
.mejs-background, .mejs-mediaelement, .mejs-poster, .mejs-overlay, .mejs-container { width: 100% !important;   height: 100% !important;}
/***promo_page***/
.promo_page{ margin-top:40px;}
.promo_page .left_ad{ margin:0px 0 50px 0;}
.promo_page .row>div{margin-bottom:40px;}
.promo_page img{ width:100%;}
.promo_page div.col-lg-6:nth-child(2n+1){clear:left;}
#newsList{margin-bottom:30px;}
#newsList .row>div:nth-child(2n+2){	clear:left;	}
.promo_page.videoList .col-lg-4:nth-child(3n+1){clear:left;}
.promo_page h2, .experts .focus h2{
	font-size:16px;
	margin:15px 0 5px 0;
	font-weight:bold;
	text-transform:uppercase;
	line-height:18px;
	}
.promo_page h3 a, .experts .focus h3 a{color:#4a4a4a;	}
.promo_page h3 a:hover, .experts .focus h3 a:hover{color:#006cb8;	}
.promo_page p, .experts .focus p{font-size:15px; font-family: 'Roboto-Light';}
.meta{margin-bottom:15px;}
.promo_page .inner{position:relative;}

.surcharge{	background:url(../img/bg-status-surcharge.png) no-repeat 0 50%;}
.status{
	font-size:90%;
	padding:0 10px 0 20px;
	height:24px;
	color:#000;
	line-height:24px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-transform:uppercase;
	}
.promo_page .inner .status{position:absolute;	top:12px; right:15px;}
.promo_page .inner img, .experts .focus img{width:100%;	}
.tags a{color:#4a4a4a; text-decoration:underline;}
.tags a:hover{ text-decoration:none;}
.meta>div{ display:inline-block; margin-right:10px; }
.meta .fa{margin-right:5px; color:#a2a2a2;}
.tags{padding:10px; margin-top:30px; background:#efefef;}
.newsTitle{margin:0; padding:0;}
.newsTitle li{overflow:hidden; list-style:none;margin-bottom:25px;}
.newsTitle img{	float:left;	width:117px; margin-right:15px;}
.newsTitle li a{color:#4a4a4a; font-weight:bold;}
.experts .focus h3, .promo_page .inner h3 a{font-family: 'RobotoCondensed-Bold'; color:#4a4a4a; font-size:18px; text-transform:uppercase; margin:15px 0 5px 0; width:90%; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; display:block;}
.experts .newsTitle h3{font-family: 'Roboto-Bold'; font-size:14px; margin:0px 0 5px 0;}
.timepost, .comment{ font-size:12px; font-family: 'RobotoCondensed-Light';}
.promo_page .inner h3{ margin:10px 0 5px 0;}
.promo_page .inner h3 a:hover{ color:#006cb8;}

#newsDetail h3{ font-size:22px; color:#282828; font-family: 'Roboto-Bold'; text-transform:uppercase;}
.social{margin-bottom:10px;	}
.social .btn{
	margin:5px;
	background:#f7f7f7;
	border:1px solid #ddd;
	border-top:3px solid transparent;
	}
.social .fa{margin-right:10px;}
.social .btn-fb{border-top:3px solid #3b5998;}
.social .btn-fb .fa{color:#3b5998;}
.social .btn-tw{border-top:3px solid #1dcaff;}
.social .btn-tw .fa{color:#1dcaff;}
.social .btn-gl{border-top:3px solid #dd4b39;}
.social .btn-gl .fa{color:#dd4b39;}
.social .btn-pt{border-top:3px solid #c92228;}
.social .btn-pt .fa{color:#c92228;}
.social .btn-lk{border-top:3px solid #3f729b;}
.social .btn-lk .fa{color:#3f729b;}
.social .btn-dg{border-top:3px solid #2169a8;}
.social .btn-dg .fa{color:#2169a8;}

/***board_song***/
.BXH .title_la{ margin-bottom:0;}
.qs_board_song{ background:#d4e9f4; width:100%; border-radius:3px; margin-top:20px; position:relative; float:left; padding:3px;}
.btn_view_all{ float:right;}
.btn_view_all a{ margin-top:0; border-color:#d4e9f4; text-transform:none; line-height:33px; padding-right:10px;; padding-left:10px;}
.btn_view_all a i{ margin:0 10px 0 0;}
.btn_view_all a:hover{ background:#9b2191; border:1px solid #9b2191; color:#fff;}
.calendar{ width:70%; float:left; font-family: 'Roboto-Light'; margin-top:8px;}
.calendar a{ float:left; margin-left:10px;}
.date i{ background-position:0 -592px; width:17px; height:16px;}
.calendar label{ float:left; color:#000; font-size:15px; font-weight:300;}
.calendar input{ background:transparent !important; width:auto !important; font-size:15px; height:auto; padding:0px; box-shadow:none; border:none; color:#000; font-family: 'Roboto-Bold';}
.input-group-addon{float: left; border: none; padding:0; background: none;}

.board_song{}
.board_song li{ width:100%; overflow:hidden; border-bottom:1px solid #f1f1f1; height:96px; position:relative;}
.no_number{ width:8.5%; text-align:center; line-height:88px; font-size:30px; color:#006cb8; float:left; font-family: 'UTM_Bebas';}
.rating_up i{ display:block; margin-bottom:-8px; font-size:26px; color:#2dc187;}
.rating_up{ font-size:15px; color:#282828; width:3%; float:left; margin-top:31px; text-align:center;}
.rating_down i{color:#ed1c24; margin-bottom:0px;  line-height: 3px;}
.balance{ margin:40px 0 0 5px;}
.balance i{ background-position:-30px -592px; width:12px; height:8px;}
.info_song{ width:60%; float:left; margin:18px 0 0 4%;}
.info_song img{ width:60px; float:left; margin-right:20px;}
.info_song h4{ margin-top:10px;}
.info_song h4 a{ color:#4a4a4a; font-size:15px; padding-top:10px;}
.info_song h4 a:hover, .info_song p a:hover{color:#006cb8;}
.info_song p a{ font-size:14px; color:#888;}
.board_song li .icon_view, .playlist_dta ul li .icon_view{ position:absolute; width:25%; right:10px; top:38px; font-size:14px; font-family: 'Roboto-Light'; transition: .2s;  -webkit-transition: .2s;}
.board_song li .icon_view span{ margin-left:20px; float:right;}
.board_song li .icon_view span a{ color:#4a4a4a;}
.board_song li .icon_view span:first-child i{ background-position:0 -288px; width:16px; height:16px;}
.board_song li:hover{ background:#ebf6fc;}
.board_song li .icon_sv, .playlist_dta ul li .icon_sv{ text-align:right; position:absolute; width:25%; right:-100px; top:38px; transition: .2s;  -webkit-transition: .2s;}
.board_song li:hover>.icon_sv, .playlist_dta ul li:hover>.icon_sv{right:10px; top:38px; cursor:pointer;}
.board_song li:hover>.icon_view, .playlist_dta ul li:hover>.icon_view{ right:-100px; top:38px; cursor:pointer;}
.board_song li:first-child .no_number{ font-size:38px; color:#ed1c24;}
.board_song li:nth-child(2) .no_number{color:#fcc92d;}
.board_song li:nth-child(3) .no_number{color:#7dd220;}

/***customer***/
#menuleft{margin-bottom:30px;}
#menuleft h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding-top: 5px;
	background:#3389c6;
	font-family: 'RobotoCondensed-Bold';
	padding:15px 15px;
}
#menuleft h3 i{ background-position:0 -608px; width:15px; height:16px; margin-right:10px;}
#menuleft ul{margin:3px 0 0 0; padding:0;	background:#f3f3f3;}
#menuleft li:nth-child(2n){	background:#ebebeb;}
#menuleft li a{
	display:block;
	padding:12px 10px 12px 20px;
	color:#4a4a4a;
	background:url(../img/arrow-bullet.png) no-repeat 15px 18px;
	font-family: 'Roboto-Light';
	font-size:14px;
}
#menuleft li a i{ margin-right:20px;}
#menuleft li:last-child a i{ background-position:-15px -608px; width:11px; height:11px;}
#menuleft li:last-child a{ background:#ed1c24; color:#fff;}
#menuleft li:last-child a:hover{ background:#282828;}
#menuleft li.active a, #menuleft li a:hover{background-color:#5d3fa1; color:#fff;}
.content_customer{ background:#e6f1f7; overflow:hidden; width:100%; margin-top:1px;}
.form_changepass{ width:60%; margin:50px auto; }
.form_changepass input{ width:100%; background:#fff; border:none; padding-left:10px; line-height:34px; margin-top:12px;}
.form_changepass button{ background:#3389c6; border-radius:3px; color:#fff; font-family: 'RobotoCondensed-Bold'; font-size:18px; border:none; width:100%; margin-top:28px; padding:10px 0; text-transform:uppercase; box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.09);}
.form_changepass button:hover{background-color:#5d3fa1;}
.note{ width:100%; background:#d4e8f3; padding:30px;}
.note label{ color:#ed1c24; font-size:14px; font-family: 'Roboto-Bold';}
.note p{ font-size:14px; font-family: 'Roboto-Light';}
.note p i{margin:6px 10px 30px 10px; font-size:6px; color:#ed1c24; float:left;} 

/***detail_artist***/
.header_dta{ position:relative;}
.header_dta, .nav_dta, .cover_dta, .cover_dta img{ width:100%;}
.nav_dta{ background:#f1f1f1; margin-top:1px; height:60px; overflow:hidden;}
.nav_dta ul{ margin:14px 0 0 25px; overflow:hidden; width:100%;}
.nav_dta ul li{ float:left; margin-right:10px;}
.nav_dta ul li a{text-transform:uppercase; font-size:15px; font-family: 'Roboto-Light'; color:#4a4a4a; text-align:center; display:inline-block; padding:6px 15px;}
.nav_dta ul li a:hover, .nav_dta ul li a.curent{ background:#9b2191; border-radius:3px; color:#fff; }
.avtar_atist{ width:360px; height:138px; position:absolute; bottom:-15px; right:20px;}
.avtar_atist img{ width:138px; height:138px; border-radius:50%;  border:5px solid #fff; float:right; margin-left:10px;}
.avtar_atist h4{ text-align:right; font-size:18px; color:#282828; font-family: 'Roboto-Bold'; margin:85px 0px 0 0 ; text-transform:uppercase;}
.playlist_dta{ width:100%; margin-top:35px;}
.playlist_dta ul li{ width:100%; border-bottom:1px solid #f1f1f1; position:relative; overflow:hidden; padding:15px 0;}
.playlist_dta ul li a{ font-size:15px; color:#1d5eb1; font-family: 'Roboto-Bold'; width:60%;}

.playlist_dta ul li{transition: .5s;  -webkit-transition: .5s;}
.playlist_dta ul li:hover{ background:#f7fcff;}
.playlist_dta ul li .icon_view{ top:15px; text-align:right;} 
.playlist_dta ul li .icon_sv{ top:15px; right:-150px;}
.playlist_dta ul li .icon_sv a{ margin: 0 5px;}
.playlist_dta ul li:hover>.icon_sv{right:10px; top:15px;}
.playlist_dta ul li:hover>.icon_view{ right:-150px; top:15px;}

/***login***/
.login .modal-content{ border:none; box-shadow:none; padding:0; background:none;}
.login  .close { font-size: 30px; color: #fff; position: absolute; right: 55px; top: 10px; z-index: 1200;}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(../images/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	font-family: 'Roboto-Regular';
	font-weight:400;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.95);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html .sign-in, .login-html .sign-up, .login-form .group .check{display:none;}
.login-html .tab, .login-form .group .label, .login-form .group .button{text-transform:uppercase;}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	margin-top:50px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
	font-size:12px;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label.tab{
	color:#aaa !important;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
	margin:2px 10px 0 0; 
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk a{text-align:center; color:#fff; display:block;}
label.remember_pass{ color:#fff;}

/*TheNV*/
.right_banner{ margin-bottom:30px;}
.right_banner, .left_ad{
	max-width:100%;
	text-align:center;
	}
.right_banner img, .left_ad img{ max-width:100%; height:auto;}
.title_la{
	margin-bottom:30px;
	}
#loginForm .inner hr{
	border-top:1px solid #ddd;
	}
.modal-footer.actionForm-ft{
	text-align:left;
	}
.modal-header{
	font-family: 'UTM_Bebas';
    font-weight: 300;
	font-size:24px;
	color: #1d5eb1;
	}